<div class="modal-dialog" role="document">
  <div class="modal-content">


<%= form_with(model: @ord_detail, remote: true) do |form| %>
  <% if @ord_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ord_detail.errors.count, "error") %> prohibited this ord_detail from being saved:</h2>

      <ul>
      <% @ord_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= form.label :order_id %>
    <%= form.number_field :order_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="field unit-price">
    <%= form.label :unit_price %>
    <%= form.number_field :unit_price %>
  </div>

  <div class="field quantity">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field subtotal">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


</div>
</div>

