<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>    
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id %>
  </div>
  <div class="field ">
    <%= form.label :row_order %>
    <%= form.number_field  :row_order %>
  </div>
  <!-- test
<div class="field">
    <%= form.label :name %>    
    <%= form.text_field :age %>
    <%= form.collection_select(:ajaxexample, User.all, :id, :name,
    {prompt: ""}, {class: "form-control book_search"}) %>
    <%= form.collection_select(:select_id, User.all, :id, :name,
    {prompt: ""}, {class: "form-control js-basic-single"}) %>
    <%= form.grouped_collection_select(:member_id, Team.all, :users, :name, :id, :name) %>
  </div>
-->
<div class="field">
    <%= form.label :name %>    

    <%= form.collection_select(:ajax_example, User.all, :id, :name,
    {prompt: ""}, {class: "form-control"}) %>

  </div>
<%= form.grouped_collection_select(:member_id, Team.all, :users, :name, :id, :name) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
