
<!--<tr  data-item-id=<%= "#{:id}" %> class="nested-fields item">-->

<tr  data-item-id= ":id" class="nested-fields item">

<%= f.hidden_field :order_id   %>

<td scope="row" aria-label="商品名">

<%= f.collection_select(:product_id, Product.all,  :id, :name, {prompt: ""},{class: 'form-control product_select'}) %>

</td>
<td aria-label="単価">
<%= f.text_field :unit_price, autocomplete: 'off',data: { autonumeric: { mDec: 0,vMin: '-9999999', vMax: '9999999', mRound: 'D' }},class: 'form-control unit-price money text-right' %>
</td>
<td aria-label="数量">
<%= f.number_field :quantity, class: "form-control quantity text-right" %>
</td>
<td aria-label="小計">
<%= f.text_field :price, data: { autonumeric: { aSign: '¥ ', mDec: 0,vMin: '-99999999', vMax: '999999999', mRound: 'D' }},class: 'form-control subtotal text-right', disabled: true %>
</td>
<td aria-label="保守">
<%= f.check_box :mainte_bool, class: "user_tooltip", title: "保守加入", deta: {toggle: "tooltip"} %>
</td>
<td>
  <%= link_to_remove_association '削除', f, tabindex:'-1',class: 'btn btn-default del_button' %>
  </td>
</tr>
