
<div class="card">
<div class="card-body">
 <div class="container-fluid"> 

<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> 件のエラーがあり保存できませんでした。</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col">
    <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code ,class: 'form-control'%>
    </div>
  </div>
  </div>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :name_kana %>
    <%= form.text_field :name_kana %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :purchase_cost %>
    <%= form.number_field :purchase_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div></div></div>
