<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>

<style type="text/css">
        .input-group-append {
            background-color: #faf;
        }
    </style>
 </head>

  <body>
<header>
    <div class="container">
        <p>Logo</p>
    </div>
</header>
<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
  <a class="navbar-brand" href="#">受注計算システム</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item <%= 'active' if controller.controller_name == 'orders' %>">
        <%= link_to "受注", { controller: "orders" } ,class: "nav-link"%>
      </li>
      <li class="nav-item <%= 'active' if controller.controller_name == 'users' %>">
        <%= link_to "ユーザ", { controller: "users" } ,class: "nav-link"%>
      </li>
      <li class="nav-item <%= 'active' if controller.controller_name == 'products' %>">
        <%= link_to "商品", { controller: "products" } ,class: "nav-link"%>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>

  </div>
</nav>

    <div class="container-fluid">
      <% if content_for?(:title) %><h1><%= yield :title %></h1><% end %>
      <div class="row">
   
          
          <%= yield %>

      </div><!--/row-->

      <hr />

      <footer class="no_print">
        <p>&copy; Railsアプリケーション構築ガイド 2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
